@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #1b1b1b;
}

.city {
  background-image: url('./assets/rafathedev.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 400px;
}
.citymobile {
  background-image: url('./assets/rafathedev-mobile.png');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 300px;
}

.clippy {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
  padding: 10px;
}

.clippytwo {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);

}
.animate-shadow {
  animation: animateshadow 10s infinite ease-in-out;
}
.animate-text {
  animation: animatetext 10s infinite ease-in-out;
}
@keyframes animateshadow {
  0% {
    box-shadow: 0px 0px 15px 2px green;
  }
  50% {
    box-shadow: 0px -12px 15px 2px red;
  }
  75% {
    box-shadow: 0px 12px 15px 2px blue;
  }
  100% {
    box-shadow: 0px 0px 15px 2px green;
  }
}

@keyframes animatetext {
  0% {
    color: green;
  }
  50% {
    color: red;
  }
  75% {
    color: blue;
  }
  100% {
    color: green;
  }
}